<!DOCTYPE html>
<html>
  <head>
    <title>IABOOTS CHAT CONOCEME</title>
	<meta charset="utf-8" />
	 <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	   <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
    <!-- Bootstrap -->
    <link href="{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet" media="screen"/>
	<link href="{{STATIC_URL}}css/style.css" rel="stylesheet" />
  </head>
<body>
	<div class="container" align="center">
	 <div class="page-header">
		<p><h1 align="center">BIENVENIDO A <img src="{{STATIC_URL}}img/home/iabots.png" height="100px" width="140px"></h1></p>
		
		<p><h3 align="center">"Nuestra filosof&iacute;a es que las personas responden mejor a las conversaciones, por eso ponemos todo en el chat y usamos el chat para todo'"</h3></p>
     </div>
	<div class="col-md-7">
		<form action="/interact" method="GET" >
		<!-- Inicio de la opcion escoger bot -->
		<h3>Escoje un bot:</h3>
			<div class="panel-heading">
				<select class="form-control" name="numbot">
					<option value=1>Amigo Virtual</option>
					<option value=2>Vendedor Eficiente</option>
					<option value=3>Asistencia T&eacute;cnica</option>
					
				</select>
			</div>
		<!-- fin de escoger bot -->
		
		<h3>Entre su nombre y escoja un avatar:</h3>
		<div class="input-group">
			
			<input  class="form-control" style="heigth=30px;" type="text" name="n" placeholder="Invitado"/>
			<span class="input-group-btn">
				<input class="btn btn-primary" type=submit value="INICIAR"/>
			</span>
		</div>
			</br>
		<!-- aqui iba el fin del form--->
		<hr>
		<div align="right">
		<h4>
		<p>Libre de publicidad</p></h4>
			<p>Encuentre todo sobre nosotros en nuestro
			<a href="www.iaboots.com">Sitio oficial</a></p>
			<p  align="right">S&iacute;guenos en twitter: <b>@iabots_twitt</b></p><hr>
			</div>
		</div>
	<div class="col-md-3">
          <div class="panel panel-primary">
            <div class="panel-heading">
               AVATARES DISPONIBLES
            </div>
            <div class="panel-body">
                <ul class="media-list">
				<!-- valor predefinido -->
				<li class="media">
					<div class="media-body">
						<input type="radio" name="img_avatar" value=6 checked>
						<img src="{{STATIC_URL}}img/user/avatar6.png" alt="User Avatar 1" height=55 width=55 />
					</div>
					<div class="media-body">
						<input type="radio" name="img_avatar" value=2>
						<img src="{{STATIC_URL}}img/user/avatar0.png" alt="Avatar 2" height=55 width=55 />
					</div>
				</li>
			{% for i, j in rang %}
				<li class="media">
						<div class="media-body">
							<input type="radio" name="img_avatar" value={{i}}>
						   <img src="{{STATIC_URL}}img/user/avatar{{i}}.png" alt="User Avatar" height=55 width=55 />
					
						</div>
						<div class="media-body">
							<input type="radio" name="img_avatar" value="{{j}}">
						   <img src="{{STATIC_URL}}img/user/avatar{{j}}.png" alt="User Avatar" height=55 width=55 />
					
						</div>
					</li>	
			{% endfor %}
            </ul>
                </div>
				 </form> 
            </div>
    </div>
</div>
	<hr>
	<div align="center">
		<p><h4 >iaBoots es pionera en el mercado conversacional en idioma espa&ntilde;ol</h4></p> 
		<p><h3>Hacemos posible que sus clientes siempre encuentren lo que buscan</h3></p>
	</div>
</body>
</html>